<h1>Click a Topic to view Content</h1>

<%= link_to 'Create a new Topic', new_sub_topic_path(@subs) %>

<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.name, [@subs, topic] %></li>
    <% end %>
</ul>
