<h1><%=@subs.name%></h1>
<hr/>
<p>What would you like to do?</p>
<%= link_to 'View topics', sub_topics_path(@subs) %>
<br/>
<%= link_to 'Edit Sub', edit_sub_path(@subs) %>
<br/>
<%= link_to 'Delete Sub', @subs, method: :delete %>
